:root {
    --bs-primary: #1d8353;
    --bs-secondary: #2ba84a;
    --bs-light: #f6f7f8;
    --bs-dark: #040f0f;
    --bs-white: #fdfefe;
  
    --bs-font-sans-serif: "Poppins", sans-serif;
  }

body {
    font-family: "Poppins", sans-serif;
  }
  
 .error-message {
    color: #b22222;  /* Dark red for error */
    font-weight: bold;
}
