/* Responsive styles */
@media (max-width: 768px) {
    .left-box, .right-box {
        flex: 1 0 100%;
    }

    .left-box {
        border-radius: 20px;
    }

    /* For Terms and Conditions modal */
    .modal-dialog {
        max-width: 90%;
    }
}

/* Custom style for the modal */
.modal-dialog {
    max-width: 70%; /* Set modal width to 70% of the screen on desktop */
}
